<div ng-controller="CreateCtrl">
  <div class="col-xs-10 col-xs-offset-2 page-header">
    <h1>Welcome to the Nike+ app</h1>
    <h2>Please provide your Nike+ access token</h2>
  </div>
  <div class="col-xs-10 col-xs-offset-2">
    <alert close="dismissError()" type="error.type" ng-show="error.msg"> {{error.msg}} </alert>
  </div>
  <form ng-hide="loading" class="form-horizontal">
    <div class="form-group">
      <label for="access-token" class="col-xs-2 control-label">Access
        Token</label>
      <div class="col-xs-6">
        <input type="text" id="access-token" class="form-control"
          placeholder="h7kPqVdPSDzn37" autofocus ng-model="accessToken">
      </div>
      <a href ng-click="hideHelp = !hideHelp" class="help-block">What
        is this?</a>
    </div>
    <div class="form-group">
      <div class="col-xs-offset-2 col-xs-6" ng-hide="hideHelp">
        <h3 class="help-block">How to obtain a token</h3>
        <span class="help-block">1. Click on the obtain token
          button below. </span> <span class="help-block">2. Login into
          the Nike+ developer's page.</span> <span class="help-block">3.
          Go to the API Console, found on the left menu.</span> <span
          class="help-block">4. Copy the text in the access token
          box, this is the access token to paste above.</span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-10 col-xs-offset-2">
        <button class="btn btn-primary" ng-click="validateAccessToken()">Submit
          token</button>
        <button class="btn btn-info" ng-click="redirectToToken()">Obtain
          a token</button>
      </div>
    </div>
  </form>
  <div class="col-xs-offset-2" ng-show="loading">
    <img src="assets/img/loader.gif"> <span>Verifying your
      token, please wait...</span>
  </div>
</div>
