<!-- The sleep cycle element is only showed when there is at least one day with
  sleep date selected, ng-if is used because the sleep-cycle directive is
  currently (v0.1.4) not robust to missing input data. -->

<date-series width="{{dateWidth}}" height="300" id="sleep-data-chart"
  axis-x-title="Date" y-title="Sleep Quality (%)" units="%"
  data="sleepQuality" ng-show="dateSeriesShow"
  click-data-point="showDay(point)"></date-series>
<sleep-cycle width="{{visWidth}}" sunrise="{{sleepDay.sunrise}}"
  ng-if="sleepDay && !dateSeriesShow" sunset="{{sleepDay.sunset}}"
  sleep-data="sleepDay.data" sleep-quality="{{sleepDay.quality}}"></sleep-cycle>
<button style="width: {{visWidth}}px;" ng-hide="dateSeriesShow" class="btn btn-primary btn-block" ng-click="displayDateSeries()">Return</button>
